@import "./variables";

.shineShimmer {
    background-color: #f6f7f8;
    background-image: $gray-linear-gradient;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
  }
  
@keyframes placeholderShimmer {
  0% {
      background-position: -468px 0;
  }

  100% {
      background-position: 468px 0;
  }
}
  